In [2]:
print(secs_per_min)

NameError: name 'secs_per_min' is not defined

In [ ]:
#To create a list, you use the square brackets and add elements into it accordingly.
#If you do not pass any elements inside the square brackets, you get an empty list as the output.
#The append() function adds all the elements passed to it as a single element.
#The extend() function adds the elements one-by-one into the list.
#The insert() function adds the element passed to the index value and increase the size of the list too.
#To delete elements, use the del keyword which is built-in into Python but this does not return anything back to us.
#If you want the element back, you use the pop() function which takes the index value.
#To remove an element by its value, you use the remove() function.

In [125]:
my_list = [1, 2, 3, 'example', 3.132, 10, 30,1,'example']
print(my_list[-1])
print(my_list[:-1])
print(my_list[::-1])
print(my_list[:])
print(my_list)
my_list.append('hello')
print(my_list)
my_list.insert(0,'welcome')
print(my_list)
my_list.append(['hey','buddy'])
print(my_list)
my_list.extend(['bi','buddy'])
print(my_list)

example
[1, 2, 3, 'example', 3.132, 10, 30, 1]
['example', 1, 30, 10, 3.132, 'example', 3, 2, 1]
[1, 2, 3, 'example', 3.132, 10, 30, 1, 'example']
[1, 2, 3, 'example', 3.132, 10, 30, 1, 'example']
[1, 2, 3, 'example', 3.132, 10, 30, 1, 'example', 'hello']
['welcome', 1, 2, 3, 'example', 3.132, 10, 30, 1, 'example', 'hello']
['welcome', 1, 2, 3, 'example', 3.132, 10, 30, 1, 'example', 'hello', ['hey', 'buddy']]
['welcome', 1, 2, 3, 'example', 3.132, 10, 30, 1, 'example', 'hello', ['hey', 'buddy'], 'bi', 'buddy']

In [23]:
a = 'Hey today I started python course. looking forward to dive in deep.'
list1 = a.split(" ")
print(list1)

['Hey', 'today', 'I', 'started', 'python', 'course.', 'looking', 'forward', 'to', 'dive', 'in', 'deep.']

In [25]:
del list

In [29]:
list2=list()

In [30]:
list2

[]

In [31]:
# Dictionaries are used to store key-value pairs. 
# To understand better, think of a phone directory where hundreds and thousands of names and their corresponding numbers have been added.
# Now the constant values here are Name and the Phone Numbers which are called as the keys. 
# And the various names and phone numbers are the values that have been fed to the keys. 
# If you access the values of the keys, you will obtain all the names and phone numbers.
# So that is what a key-value pair is. And in Python, this structure is stored using Dictionaries. 
# Let us understand this better with an example program.

SyntaxError: invalid syntax (1256419041.py, line 1)

In [90]:
my_dict = {} #empty dictionary
print(my_dict)
my_dict1 = dict()
print(my_dict1)
my_dict = {1: 'Python', 2: 'Java'} #dictionary with elements
my_dict1 = {1:'hello',2:'world'}
my_dict1[1]=my_dict1[1].join(('','w'))
print(my_dict1)
print(my_dict)
my_dict[3]='Node'
print(my_dict)

{}
{}
{1: 'hellow', 2: 'world'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Node'}

In [76]:
print('hello \nworld\nI am finally here')
print('world')

hello
world
I am finally here
world

In [93]:
list1 = my_dict.keys()
print(list1)
print(type(list1))
list2 = my_dict.values()
print(list2)
print(type(list2))
list3 = my_dict.items()
print(list3)
print(type(list3))
print(my_dict[1])
print(my_dict1.get(1))

print(my_dict)
my_dict.pop(1)
print(my_dict)

dict_keys([1, 2])
<class 'dict_keys'>
dict_values(['Python', 'Java'])
<class 'dict_values'>
dict_items([(1, 'Python'), (2, 'Java')])
<class 'dict_items'>
Python
hellow
{1: 'Python', 2: 'Java'}
{2: 'Java'}

In [94]:
# Tuples are the same as lists are
# with the exception that the data once entered into the tuple cannot be changed no matter what. 
# The only exception is when the data inside the tuple is mutable, only then the tuple data can be changed. 
# The example program will help you understand better.

In [105]:
tuple1 = tuple()
type(tuple1)

tuple

In [107]:
tuple1+(4,5)
tuple1

(4, 5)

In [108]:
tuple1[1]

5

In [111]:
my_tuple = (1, 2, 3)
my_tuple = my_tuple + (4, 5, 6) #add elements
print(my_tuple)

my_tuple1 = (1, 2, 3, ['hindi', 'python'])
my_tuple1[3][0] = 'english'
print(my_tuple1)
print(my_tuple1.count(2))
print(my_tuple1.index(['english', 'python']))

(1, 2, 3, 4, 5, 6)
(1, 2, 3, ['english', 'python'])
1
3

In [114]:
my_tuple2 = (1, 2, 3, 'edureka') #access elements
for x in my_tuple2:
    print(x)
print(my_tuple2)
print(my_tuple2[0])
print(my_tuple2[:])
print(my_tuple2[3][4])

1
2
3
edureka
(1, 2, 3, 'edureka')
1
(1, 2, 3, 'edureka')
e

In [117]:
g = 'hjkkkjkj'
print(g)
print(id(g))
g=g.replace('k','c')
print(g)
print(id(g))

hjkkkjkj
4578298288
hjcccjcj
4579895472

In [120]:
list1 = (4,56,6,64,[3,89])
print(list1)
print(id(list1))
list1[4][0]=90
print(list1)
print(id(list1))

(4, 56, 6, 64, [3, 89])
4580889744
(4, 56, 6, 64, [90, 89])
4580889744

In [122]:
# Sets are a collection of unordered elements that are unique.
# Meaning that even if the data is repeated more than one time, 
# it would be entered into the set only once.
# It resembles the sets that you have learnt in arithmetic.
# The operations also are the same as is with the arithmetic sets. 
# An example program would help you understand better.

In [124]:
least_difference(7,9,15)

NameError: name 'least_difference' is not defined

In [131]:
l1=[1,2,3,4,12,3,5,7,1,1,2,5,6,7,12,3,4,1,2,7,8,9,9]
print(len(l1)/2)

11.5

In [127]:
print(i for i in l1)

<generator object <genexpr> at 0x110492c20>

In [137]:
print([i for i in l1 if not i%4])

[4, 12, 12, 4, 8]

In [138]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [139]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)

hello
world

In [2]:
claim = "Pluto is a planet!"
claim.startswith(planet)

NameError: name 'planet' is not defined